// Example of a sass variable
// $color:green;
body{
	text-align: center;
	background: #00ECB9;
  	font-family: sans-serif;
  	font-weight: 100;
}

h1{
  color: white;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	text-align: center;
	font-size: 100px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}
#countdown{
	margin-top:35em;
	text-align: center;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgba(0,0,0,0.6);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}